.logo {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 800;
}

.main__header li {
    list-style-type: none;
}

.logo__word__2 {
    list-style-type: none;
    color: var(--primary-color);
}