/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #ff4500;
    --app-background-color: #0F0F0F;
    --app-font-color: #f0fff0;
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--app-font-color);
}



body {
  background-color: var(--app-background-color);
  padding: 1rem 2rem;
}